<!DOCTYPE html>
<html lang="ko">
{% load static %}
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{% static 'css/project.css' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LIKELION 14th Django Session</title>
    <style>
        a { text-decoration: none; }
        .body-container { background-color: #FFF6F2; color: #222222; margin: 0; font-family: sans-serif; }
        .navbar-container { display: flex; align-items: center; padding: 20px 32px; gap: 40px; background-color: #E65C00; }
        .navbar-link { color: #fff; font-size: 18px; }
        .navbar-link:hover { color: #222222; }
    </style>
</head>
<body class="body-container">
    <nav class="navbar-container">
        <a href="{% url 'main:blogpage' %}" class="navbar-link" style="font-weight: bold;">🦁 DGUNIV BLOG</a>
        {% if user.is_authenticated %}
            <a href="{% url 'main:new_blog' %}" class="navbar-link">글쓰기</a>
            <a href="{% url 'main:mypage' %}" class="navbar-link">마이페이지</a>
            <a href="{% url 'accounts:logout' %}" class="navbar-link">로그아웃</a>
        {% else %}
            <a href="{% url 'accounts:login' %}" class="navbar-link">로그인</a>
            <a href="{% url 'accounts:signup' %}" class="navbar-link">회원가입</a>
        {% endif %}
    </nav>
    {% block content %}
    {% endblock %}
</body>
</html>