{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="form-wrapper">
    <form action="{% url 'main:update' blog.id %}" method="POST">
        {% csrf_token %}
        <div class="form-title">게시글 수정</div> 
        
        <div class="form-group">
            <label for="title">제목</label>
            <input type="text" id="title" name="title" value="{{ blog.title }}" required>
        </div>

        <div class="form-group">
            <label for="content">내용</label>
            <textarea id="content" name="content" required>{{ blog.content }}</textarea>
        </div>

        <div class="form-group">
    <label for="category">카테고리</label>
    <select name="category" id="category">
        <option value="hobby" {% if blog.category == 'hobby' %}selected{% endif %}>취미</option>
        <option value="study" {% if blog.category == 'study' %}selected{% endif %}>공부</option>
        <option value="daily" {% if blog.category == 'daily' %}selected{% endif %}>일상</option>
    </select>
</div>

        <div class="form-group">
            <label for="pub_date">작성일</label>
            <input type="date" id="pub_date" name="pub_date" value="{{ blog.pub_date|date:'Y-m-d' }}" required>
        </div>

        <button type="submit">게시글 수정</button>
    </form>
</div>
{% endblock %}